# Backend
PORT=3001
OLLAMA_MODEL=qwen2.5:3b
OLLAMA_BASE_URL=http://localhost:11434

GEMINI_API_KEY =adsdsjdbkjsdbbd
GEMINI_FLASH=gemini-3.5-flash

# Frontend
NEXT_PUBLIC_BASE_URL=http://localhost:3000
